html, body{
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    background: #3a3a3a;
    color: #fcfdfc;
    font-size: 14px;

    text-shadow: 0 1px 0 #4b4b4b;
    user-select: none;
}
h1 {
    font-size: 16px;
}
.top-bar {
    width: 100%;
    border: 1px solid #2f2f2f;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 38px;
    padding: 10px;
    padding-left: 20px;
}
.list {
    width: 75%;
    position: fixed;
    top: 60px;
    left: 0px;
    border: 1px solid #2e2e2e;
    transition: all 0.5s ease;
    border-radius: 0px;
    height: calc(100% - 100px);
    overflow-y: hidden;
    display: flex;
    background: #4b4b4b;
}
.view-switch {
    width: 250px;
    position: fixed;
    left: calc(50% - 125px);
    top: 20px;
    border-radius: 6px;
    background: #4b4b4b;
    border: 1px solid #2f2f2f;
}
.switch-item {
    position: relative;
    float: left;
    width: calc(50% - 20px);
    text-align: center;
    padding: 5px 10px;
    box-shadow: 0 1px 2px #0000006b;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient(#4b4b4b, #404040);
}
.switch-item:hover {
    box-shadow: 0 2px 3px #0000006b;
    /* transform: translateY(-1px); */
}
.switch-item:active {
    box-shadow: 0 1px 1px #0000006b , 0 1px 1px #0000006b inset;
    /* transform: translateY(-1px); */
}

.switch-item.selected {
    background: #106790;
    background-image: linear-gradient(#106790, #0d587a);
    z-index: 7;
}
.switch-item.left {
    border-radius: 6px 0 0 6px;
}
.switch-item.right {
    border-radius: 0px 6px 6px 0px;
}

.content.lamps .lamps,
.content.scenes .scenes{
    display: block;
}
.content.lamps .scenes,
.content.scenes .lamps{
    display: none;
}


button {
    background: #3a3a3a;
    background-image: linear-gradient(#4b4b4b, #404040);
    color: #f8f9f8;
    font-size: 14px;
    text-align: left;
    border: 0px solid;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 10px 15px;
    position: fixed;
    top: 10px;
    right: 10px;
    border: 1px solid #2e2e2e;
    border-radius: 4px;
    box-shadow: 0 1px 2px #0000002e;
    outline: none;
}

button:hover {
    transition: all 0.3s ease;
    box-shadow: 0 2px 3px #0000006b;
    transform: translateY(-1px);
}
button:active {
    box-shadow:  0 1px 1px #0000006b inset;
    transform: translateY(1px);
    transition: all 0.1s ease;
}


.room .room_switch {
    position: relative;
    float: right;
    background: #4b4b4b;
    background-image: linear-gradient(#4b4b4b, #404040);
    padding: 7px 8px;
    height: 16px;
    border: 1px solid #2e2e2e;
    border-radius: 4px;
    box-shadow: 0 1px 2px #0000002e;
    transition: all 0.3s ease;
    cursor: pointer;
}
.room .room_switch:hover {
    box-shadow: 0 2px 3px #0000006b;
    transform: translateY(-1px);
}
.room .room_switch:active {
    box-shadow:  0 1px 1px #0000006b inset;
    transform: translateY(1px);
    transition: all 0.1s ease;
}


.room .name {
    font-size: 16px;
    font-weight: 400;
    color: #fcfdfc;
}
.lamp_state,
.scene_type {
    color: grey;
    margin-top: 5px;
}
.lamp .lamp_name,
.scene .scene_name{
    font-size: 16px;
    font-weight: 400;
    color: #fcfdfc;
}
.lamp.false .lamp_name{
    color: #a7a7a7;
}
.lamp.false {
    background: #2f2f2f;
}

.result{
    width: calc(25% - 60px);
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    box-shadow: 0 2px 14px #0e0e0e80;
    color: #fff;
    background: #060606;
    font-family: monospace;
    padding: 30px;
    transition: all 0.5s ease;
    overflow-y: scroll;
}
.debug-hidden .result{
    right: -1000px;
}
.debug-hidden .list {
    width: 100%;
}
.scene .status {
    float: right;
    top: 0px;
    background: #4b4b4b00;
}

.true .status,
.room_switch.true .status {
    background: #4CAF50;
    border: 1px solid #093e0a;
    box-shadow: 0 1px 2px #0000006b inset;
}
.false .status,
.room_switch.false .status {
    background: #F44336;
    border: 1px solid #75201a;
    box-shadow: 0 2px 2px #0000006b;
}
.load .status,
.room_switch .status {
    background: #1778c5;
    border: 1px solid #10568e;
    box-shadow: 0 0px 0px #0000006b;
}

.status {
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    margin-bottom: 10px;
    float: left;
    margin-right: 10px;
}


.list .room {
    width: 300px;
    background: #3a3a3a;
    padding: 20px;
    border-radius: 3px;
    float: left;
    height: calc(100% - 85px);
    overflow: hidden;
    border: 1px solid #2f2f2f;
    transition: all 0.3s ease;
}
.list .room{
    margin: 10px;
}
.debug-hidden .list .room{
    margin: 20px;
}
.list .room .lamps,
.list .room .scenes{
    height: calc(100% - 36px);
    overflow-y: auto;
}
.room .lamp,
.room .scene {
    width: calc(100% - 49px);
    margin: 10px 4px;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid #2e2e2e;

    background: #4b4b4b;
    background-image: linear-gradient(#4b4b4b, #404040);
    box-shadow: 0 1px 2px #0000006b;
    color: #404040;
}
.room .lamp:hover,
.room .scene:hover {
    box-shadow: 0 2px 3px #0000006b;
    transform: translateY(-1px);
}
.room .lamp:active,
.room .scene:active {
    box-shadow: 0 1px 1px #0000006b inset;
    transform: translateY(1px);
    transition: all 0.1s ease;
}






.load .status {
    display: inline-block;
    width: 16px;
    height: 16px;
}
.load .status:after {
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    margin: -3px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  